button {
    background-color: #f9ccac;
    display: block;
    color: #e0876a;
    border: 2px dotted #fbefcc;
    margin-bottom: 15px;
    width: 10em;
    height: 3em;
} 
.dieHolder {
    width: 75px;
    height: 50px;
    background-color: #f4a688;
    display: inline-block;
    margin-right: 5px;
    border-radius: 10px;
    color: #fbefcc;
    margin-top: 50px;
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
    border: 5px dotted #fbefcc;
}